{% load static %}
<div class="sidebar">
     
    <div class="user-panel mt-3 pb-4 mb-3 d-flex">
      <div class="image">
        <img src="../../static/back/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a data-toggle="collapse" href="#collapseExample" class="collapsed"><span>
          Alexander Pierce 
          <b class="caret"></b>
        </span>
      </a>
  <div class="clearfix"></div>
    <div class="collapse" id="collapseExample">
        <ul class="nav">
                <li>
                    <a href="#edit">
                      <span class="sidebar-mini">Ep</span>
                      <span class="sidebar-normal">Keluar</span>
                    </a>
                </li>              
      </ul>
      </div>
    </div> 
  </div>
<!-- Sidebar Menu -->
  <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <li class="nav-item menu-open">
        <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-th"></i>
          <p>
            Profil
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-th"></i>
          <p>
            File
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-th"></i>
          <p>
            Jumlah akun
          </p>
        </a>
      </li>
    </ul>
  </nav>